@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>


<address>
    MÜŞTERİ HİZMETLERİ: 444 33 22
    ŞİKAYET/ ÖNERİ HATTI: 0 850 755 33 22

    PİZZA RESTAURANTLARI A.Ş.

    Merkez Adresi: Büyükdere Caddesi No 245 USO Center Maslak, İstanbul<br />
    Fax: 0212 280 98 38<br />
    E-Posta: info@dominospizza.com.tr<br />
    Vergi Dairesi: MASLAK<br />
    Vergi Kimlik Numarası: 385 055 5208<br />
    Ticaret Sicil Numarası: İstanbul 741878<br />
    Servis Sağlayıcı: Anadolu Bilişim Hizmetleri A.Ş. (www.abh.com.tr)<br />
    KEP Hesap Adı: pizzarestaurantlarias@hs02.kep.tr<br />
    Müşteri No: 27206<br />
    Meslek Odası Üyeliği:<br />
    İstanbul Ticaret Odası – http://www.ito.org.tr<br />
    Ankara Ticaret Odası - http://www.atonet.org.tr<br />
    İzmir Ticaret Odası - http://www.izto.org.tr<br />
    Gaziantep Ticaret Odası - http://www.gto.org.tr<br />
    İstanbul Ticaret Borsası - http://www.istib.org.tr<br />
    Kocaeli Sanayi Odası - http://www.kosano.org.trv<br />
    Gıda Perakendecileri Derneği- http://www.gidaperakendecileri.org<br />
    MERSİS Numarası: 0385055520800012<br />
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>